<server>

    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="8080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

    <application name="Mizuho" context-root="/mizuhotest" location="${appLocation}" type="war"/>

</server>
